/**
 * 公共模块-----人脸对比界面
 * named by lei.
 */

.personFace .center-header{
    margin: 20px 0;
    text-align: center;
    font-size: 18px;
}
.personFace .img_content {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 30px;
}

.personFace .customer {
    width: 100%;
    height: 155px;
    position: relative;
    left: 0;
    top: 0;
    border: solid 1px #CCCCCC !important;
    border-radius: 12px !important;
}

.personFace .customer .customer-picture {
    width: 100%;
    height: 100%;
}

.personFace .customer_one,.personFace .customer_four,.personFace .customer_six {
    background: url("../images/ic_mianbu.png") no-repeat 100% 100%;
    background-size: 100% 100%;
}

.personFace .customer_three {
    background: url("../images/ic_shenfenzheng.png") no-repeat 100% 100%;
    background-size: 100% 100%;
}
.personFace .img_box {
    float: left;
    width: 38.03986711%;
    max-width: 229px;
    min-width: 160px;
}
.personFace .face-box {
    float: left;
    width: 24.42244224%;
    min-width: 148px;
}
.personFace .face-result {
    text-align: center;
    width: 65px;
    height: 24px;
    line-height: 24px;
    margin-top: 65px;
    border-radius: 3px;
    color: #F9F9F9;
}
.personFace .pass{
    background-color: #0F45A7;
}
.personFace .no-pass{
    background-color: #D13F14;
}
.personFace .img_notes {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
}
